
router {
    mode: {{ qdrouterd_mode }}
    id: {{ ansible_hostname }}
    workerThreads: {{ qdrouterd_host_count }}
    saslConfigPath: {{ qdrouterd_sasl_conf_path }}
    saslConfigName: {{ qdrouterd_service_name }}
}

listener {
    host: {{ qdrouterd_listener_addr }}
    port: {{ qdrouterd_listener_port }}
    role: normal
    authenticatePeer: {{ qdrouterd_listener_auth_peer }}
    saslMechanisms: {{ qdrouterd_listener_sasl_mech }}
}

{% if qdrouterd_host_count > '1' %}
listener {
    host: {{ qdrouterd_irl_addr }}
    port: {{ qdrouterd_irl_port }}
    role: inter-router
}
{% endif %}

address {
    prefix: unicast
    distribution: closest
}
address {
    prefix: exclusive
    distribution: closest
}
address {
    prefix: broadcast
    distribution: multicast
}
address {
    prefix: openstack.org/om/rpc/multicast
    distribution: multicast
}
address {
    prefix: openstack.org/om/rpc/unicast
    distribution: closest
}
address {
    prefix: openstack.org/om/rpc/anycast
    distribution: balanced
}
address {
    prefix: openstack.org/om/notify/multicast
    distribution: multicast
}
address {
    prefix: openstack.org/om/notify/unicast
    distribution: closest
}
address {
    prefix: openstack.org/om/notify/anycast
    distribution: balanced
}

log {
    module: {{ qdrouterd_log_module }}
    enable: {{ qdrouterd_log_enable }}
    timestamp: true
    output: {{ qdrouterd_log_file }}
}
